ChatServiceFrontend/node_modules/

ChatServiceBackend/.vs/*
ChatServiceBackend/.vs/

ChatServiceBackend/ChatServiceSignalR/bin/
ChatServiceBackend/ChatServiceSignalR/bin/*
ChatServiceBackend/ChatServiceSignalR/obj/
ChatServiceBackend/ChatServiceSignalR/obj/*
