.card {
    border-radius: 20px;
    border: 1px solid #007bff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
}

.form-label {
    color: #007bff;
    font-weight: bold;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #007bff;
}

.btn-success {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Ajuste adicional para el espaciado y alineación */
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.d-grid {
    display: grid !important;
    gap: 1rem;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}